h1 背景与边框
section 
  h3 六、复杂的背景团
  p 利用 linear-gradient() 实现横纵条纹，从而实现网格背景
  figure(class='flex justify-center align-center')
    div.gridBg_1
  p 利用 repeat-linear-gradient() 实现网格背景
  figure(class='flex justify-center align-center')
    div.gridBg_2
  p 实现特殊网格背景
  figure(class='flex justify-center align-center')
    div.gridBg_3
  p 圆点阵列
  figure(class='flex justify-center align-center')
    div.dotBg
  p 国际象棋棋盘
  figure(class='flex justify-center align-center')
    div.chessBoard
  p 拓展: 利用渐变实现砖块背景
  figure(class='flex justify-center align-center')
    div.brickBg
  p 未来属性 conic-gradient()
    p 锥型渐变，可以简单的制作三角形贴片，减少代码书写
  p 实际应用：尽可能使用svg代替复杂图形的实现
  figure(class='flex justify-center align-center')
    div.svgBg 
  h3 七、伪随机背景
  p 利用 不同质数的最小公倍数最大的原则，来实现伪随机
  figure(class='flex justify-center align-center')
    div.randomBg
  h3 八、图片边框
  p 一般来说可以使用border-image实现图片边框
  figure(class='flex justify-center align-center')
    div.commonBorder
  p 通过background-image实现
  figure(class='flex justify-center align-center')
    div.envelop
      p 一封信
  p 标题导航线实现
  figure(class='flex justify-center align-center')
    div.titleborder 我是一个标题

      
