.gridBg_1 {
  width: 400px;
  height: 400px;
  background: rgb(216, 47, 47);
  background-image: linear-gradient(hsl(0, 0%, 100%, 0.3) 50%, transparent 0),
    linear-gradient(90deg, hsl(0, 0%, 100%, 0.3) 50%, transparent 0);
  background-size: 10% 10%;
}

.gridBg_2 {
  width: 400px;
  height: 400px;
  background: rgb(124, 250, 74);
  background-image: repeating-linear-gradient(
      hsl(0, 0%, 100%, 0.3),
      hsl(0, 0%, 100%, 0.3) 5%,
      transparent 0,
      transparent 10%
    ),
    repeating-linear-gradient(90deg, hsl(0, 0%, 100%, 0.3), hsl(0, 0%, 100%, 0.3) 5%, transparent 0, transparent 10%);
}

.brickBg {
  width: 600px;
  height: 400px;
  /* background: red;
  background-image: linear-gradient(335deg, #000 30%, transparent 10%),
    linear-gradient(155deg, #000 30%, transparent 10%), linear-gradient(335deg, #000 30%, transparent 10%),
    linear-gradient(155deg, #000 30%, transparent 10%);

  background-size: 15% 23%;
  background-position: 34px -4px, 46px -40px, -12px 36px, 0 0; */

  background-color: silver;
  background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px), linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.gridBg_3 {
  width: 400px;
  height: 400px;
  background: #465c73;
  background-image: linear-gradient(silver 1px, transparent 0), linear-gradient(silver 3px, transparent 0),
    linear-gradient(90deg, silver 1px, transparent 0), linear-gradient(90deg, silver 3px, transparent 0);
  background-size: 20px 20px, 60px 60px, 20px 20px, 60px 60px;
}

.dotBg {
  width: 400px;
  height: 400px;
  background: #000;
  background-image: radial-gradient(circle, white 6px, transparent 0), radial-gradient(circle, white 6px, transparent 0);
  background-size: 60px 60px;
  /*  第二层渐变的偏移是贴片宽高的一半 */
  background-position: 0 0, 30px 30px;
}

.svgBg {
  width: 400px;
  height: 400px;
  background: rgb(255, 255, 255)
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".25"><rect x="50" width="50" height="50"/><rect y="50" width="50" height="50"/></svg>');
  background-size: 30px 30px;
}

.chessBoard {
  width: 600px;
  height: 400px;
  background: #c7d2e3;
  background-image: linear-gradient(45deg, #dfe4ff 25%, transparent 0),
    linear-gradient(225deg, #dfe4ff 25%, transparent 0), linear-gradient(135deg, #dfe4ff 25%, transparent 0),
    linear-gradient(315deg, #dfe4ff 25%, transparent 0);
  background-size: 50px 50px;
  background-position: 1px -25px, -25px 1px, 26px 26px, 0 0;
}

.randomBg {
  width: 600px;
  height: 400px;
  background-image: linear-gradient(90deg, #a18cd1 2px, transparent 0),
    linear-gradient(90deg, #fecfef 20px, transparent 0), linear-gradient(90deg, #f6d365 10px, transparent 0),
    linear-gradient(90deg, #d4fc79 13px, transparent 0);
  /* 使用质数来实现伪随机 */
  background-size: 43px 100%, 67px 100%, 17px 100%, 37px 100%;
}

/* 图片边框 */
.commonBorder {
  width: 100px;
  height: 100px;
  border: 100px solid;
  border-image: url(/assets/images/border_2.jpg);
  border-image-slice: 100 100 100 100 fill;
  background: #000;
  background-clip: border-box;
}

.bgimageBorder {
  width: 400px;
  height: calc(400px * 0.8);
  padding: 16px;
  border: 32px solid transparent;
  background: linear-gradient(white, white) padding-box, url(/assets/images/border.jpg) border-box 0 / cover;
}

.envelop {
  width: 400px;
  height: calc(400px * 0.8);
  padding: 16px;
  border: 32px solid transparent;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(
        -45deg,
        red 0,
        red 12.5%,
        transparent 0,
        transparent 25%,
        #58a 0,
        #58a 37.5%,
        transparent 0,
        transparent 50%
      )
      0 /80px 80px;
}

.titleborder{
  padding: 10px;
  border-top: 5px solid transparent;
  border-image:100% 0 0 linear-gradient(90deg,currentColor 30%,transparent 0) ;
  font-size: 32px;
  font-weight: bolder;
  color: #6CB3FF;
}

.titleborder:hover{
  border-top: 10px solid transparent;
  transition: all linear .1s;
}