doctype html
html(lang="en")
  include ../includes/head/head.pug
  body
    article 
      include ../includes/chapter1/article.pug
    article 
      include ../includes/chapter2/article.pug
    article 
      include ../includes/chapter3/article.pug
    //- article 
    //-   include ../includes/practical/practice.pug
